# Core
selenium==4.18.1
playwright==1.43.0
webdriver-manager==4.0.1
pytest==8.1.1
pytest-html==4.1.1
allure-pytest==2.13.5
loguru==0.7.2
PyYAML==6.0.1
python-dotenv==1.0.1

# Data
openpyxl==3.1.2
pandas==2.0.0

# Reports
reportlab==4.1.0
Jinja2==3.1.3

# Utilities
click==8.1.7
colorama==0.4.6
